# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# IDE settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Exclude large files
*.pkl
*.h5
*.model
*.pyc 